<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="recipe.css">
    <link href="https://fonts.googleapis.com/css2?family=Allura&family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">

    <title>Community Pantry</title>
  </head>
  <body>
     
     
     
     <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
          <div class="container">
                  <a class="navbar-brand" href="/">Community Pantry</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="/top10">Top 10</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active"> Search</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/home">Home</a>
                    </li>
                  </ul>
          </div>
    </nav>
     
     
     
    <div class="container mb-5 pt-5">
       
       
        <h1 class="display-1 pt-5">Find A Dish</h1>
        <form class="form-inline pt-5 mb-5">
          <div class="col-6 form-group mb-2">
            <label for="inputPassword2" class="sr-only">Dish</label>
            <input type="text" class="col-12 form-control" id="inputPassword2" placeholder="What would you like?">
          </div>
          <button type="submit" class="btn btn-primary mb-2">Find a dish</button>
        </form>
        
        <h1 class="display-1 mt-5 pt-5">Search By Ingredient</h1>
        
        <div class="row row-cols-1 row-cols-md-3 mt-5">
          <div class="col mb-4">
            <div class="card">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title display-4 mb-4">Proteins</h5>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="chicken" id="">
                  <label class="form-check-label" for="">
                    Chicken
                  </label>
                </div> 
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="beef" id="">
                  <label class="form-check-label" for="">
                    Beef
                  </label>
                </div> 
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Pork
                  </label>
                </div>  
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="fish" id="">
                  <label class="form-check-label" for="">
                    Fish
                  </label>
                </div> 
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="beef" id="">
                  <label class="form-check-label" for="">
                    Protien
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="beef" id="">
                  <label class="form-check-label" for="">
                    Protein
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="beef" id="">
                  <label class="form-check-label" for="">
                    Protein
                  </label>
                </div>  
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="beef" id="">
                  <label class="form-check-label" for="">
                    Protein
                  </label>
                </div>  
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="beef" id="">
                  <label class="form-check-label" for="">
                    Protein
                  </label>
                </div>  
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="beef" id="">
                  <label class="form-check-label" for="">
                    Protein
                  </label>
                </div>                 
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title display-4 mb-4">Vegetables</h5>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="beef" id="">
                  <label class="form-check-label" for="">
                    Some vegetable
                  </label>
                </div> 
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="beef" id="">
                  <label class="form-check-label" for="">
                    Some vegetable
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="beef" id="">
                  <label class="form-check-label" for="">
                    Some vegetable
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="beef" id="">
                  <label class="form-check-label" for="">
                    Some vegetable
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="beef" id="">
                  <label class="form-check-label" for="">
                    Some vegetable
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="beef" id="">
                  <label class="form-check-label" for="">
                    Some vegetable
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="beef" id="">
                  <label class="form-check-label" for="">
                    Some vegetable
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="beef" id="">
                  <label class="form-check-label" for="">
                    Some vegetable
                  </label>
                </div>
                  <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="beef" id="">
                  <label class="form-check-label" for="">
                    Some vegetable
                  </label>
                </div>
                  
                  <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="beef" id="">
                  <label class="form-check-label" for="">
                    Some vegetable
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title display-4 mb-4">Starches</h5>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="beef" id="">
                  <label class="form-check-label" for="">
                    Some starch
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="beef" id="">
                  <label class="form-check-label" for="">
                    Some starch
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="beef" id="">
                  <label class="form-check-label" for="">
                    Some starch
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title display-4 mb-4">Herbs &amp; Spices</h5>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="beef" id="">
                  <label class="form-check-label" for="">
                    Some herb or spice
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="beef" id="">
                  <label class="form-check-label" for="">
                    Some herb or spice
                  </label>
                </div>
                  <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="beef" id="">
                  <label class="form-check-label" for="">
                    Some herb or spice
                  </label>
                </div>
                  <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="beef" id="">
                  <label class="form-check-label" for="">
                    Some herb or spice
                  </label>
                </div>
                  
                  <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="beef" id="">
                  <label class="form-check-label" for="">
                    Some herb or spice
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="beef" id="">
                  <label class="form-check-label" for="">
                    Some herb or spice
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="beef" id="">
                  <label class="form-check-label" for="">
                    Some herb or spice
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="beef" id="">
                  <label class="form-check-label" for="">
                    Some herb or spice
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="beef" id="">
                  <label class="form-check-label" for="">
                    Some herb or spice
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="beef" id="">
                  <label class="form-check-label" for="">
                    Some herb or spice
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="beef" id="">
                  <label class="form-check-label" for="">
                    Some herb or spice
                  </label>
                </div>
                  <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="beef" id="">
                  <label class="form-check-label" for="">
                    Some herb or spice
                  </label>
                </div>
                  <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="beef" id="">
                  <label class="form-check-label" for="">
                    Some herb or spice
                  </label>
                </div>
                  <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="beef" id="">
                  <label class="form-check-label" for="">
                    Some herb or spice
                  </label>
                </div>
                  <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="beef" id="">
                  <label class="form-check-label" for="">
                    Some herb or spice
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="beef" id="">
                  <label class="form-check-label" for="">
                    Some herb or spice
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col mb-4">
           <button type="submit" class="btn btn-primary mb-2" style="width: 600px; height: 200px">Let's Find Something to Make</button>
          </div>
        </div>        
        
        
    </div> 
    
                
    
    
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
    
  </body>
</html>