#titletron{
    background: url(background_5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    width: 100%;
}

#logintron{
    width: 100%;
    height: 50%;
    background: url(background_12.jpg), linear-gradient(to bottom right, #595a5c, white);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    background-blend-mode: multply;
}


#slogan{
    text-align: right;
}

#login{
    text-shadow: 2px 2px 6px #000000;
    color: white;
}

.login{
    width: 450px;
    transform: translateX(-350px);
}

.login:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: black;
    transform: skew(5deg,5deg);
    z-index: -1;
}

h1{
    font-family: 'Allura', cursive;
    font-size: 140px;
    text-shadow: 2px 2px 6px #000000;
    text-align: right;
}


h2{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 50px;
}

.createarea{
    width: 1000px;
    margin: auto;
}


.createform{
    height: 600px;
    width: 75%;
}

.transition{
    background: linear-gradient(to bottom, #000000, #f5f5f5);
    height: 300px;
}

.inputsection p{
    transform: translateX(15px);
}

.form{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    height: 350px;
    width: 390px;
    position: relative;
    overflow: hidden;
}

.form .inputsection{
    border: none;
    height: 60px;
    position: relative;
    
}

.form input{
    width: 100%;
    height: 100%;
    border: none;
    padding-top: 12px;
    outline: none;
    background-color: transparent;
    color: white;
    
}

.form label{
    position: absolute;
    left: 0%;
    bottom: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid white;
}

.form label::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    bottom: -1px;
    border-bottom: 2px solid #00c000;
    transform: translateX(-100%);
    transition: transform 0.4s ease;
}

.content-name{
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: all 0.4s ease;
}

.inputsection input:focus + .label-name .content-name, 
.inputsection input:valid + .label-name .content-name{
    transform: translateY(-150%);
    font-size: 15px;
    color: #00c000;
}

.inputsection input:focus + .label-name::after, .inputsection input:valid + .label-name::after{
    transform: translateX(0%);
}










