*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    height: 9vh;
    transition: .5s ease;
    background-color: black;
}

nav .container{
    display: flex;
    align-items: center;
    height: inherit;
}

.nav-links{
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    width: 45%;
    margin-bottom: 0;
    transition: .5s ease;
}

.nav-links a{
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 1000;
    font-size: 30px;
    transition: .5s ease;
}

.nav-links a:hover{
    color: cornflowerblue;
}

.nav-links .active{
    color: slategray;
}

.nav-links .active:hover{
    color: slategray;
}

.logo h4{
    color: white;
    font-family: 'Allura', cursive;
    font-size: 55px;
    text-shadow: 5px 5px 10px #000000;
    margin-bottom: 0;
    transition: .5s ease;
}



#login{
    color: black;
    background-color: white;
    padding: 2px 20px 5px 20px;
    border-radius: 50px;
    border: 1px solid black;
}

#login:hover{
    color: white;
    background-color: #292b2c;
    border: 1px solid white;
    transition: .25s ease;
}

.scroll-active #login{
    color: black;
    background-color: white;
    padding: 1px 15px 4px 15px;
    border-radius: 50px;
    border: 1px solid black;
}

.scroll-active #login:hover{
    color: white;
    background-color: #292b2c;
    border: 1px solid white;
    transition: .25s ease;
}

.scroll-active:nth-child(1){
    background-color: black;
    height: 6vh;
}

.scroll-active .logo h4{
    font-size: 35px;
    transition: .5s ease;
}

.scroll-active .nav-links{
    width: 30%;
    transition: .5s ease;
}

.scroll-active .nav-links a{
    font-size: 20px;
}


body{
    background-color: #f5f5f5;
}

#title{
    background: url("background_20.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh; 
    width: 100%;
}

#title h1{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 1000;
    font-size: 200px;
    text-shadow: 0px 0px 20px black;
    text-align: center;
    padding-top: 100px;
    color: white;
}


h4{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 400;
    font-size: 70px;
    color:black;
}


ul{
    list-style: none;
}

.card-body{
    overflow: hidden;
}

.card-body img{
    height: 25px;
    width: 25px;
    
}

.snipbit{
    margin: 0px;
    min-height: 42px;
}


.card-img{
    height: 246px;
    object-fit: cover;
}

@media (max-width: 767px){
    .card-img{
        display: none;
    }
}

.card{
    transition: 0.3s;
}

.card:hover{
    transform: scale(1.10);
}


.recipelink{
    position: absolute;
    right: 10px;
    bottom: 20px; 
}

a{
    color: black;
}

a:hover{
    color: black;
    text-decoration: none;
}