*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    height: 9vh;
    transition: .5s ease;
    background-color: black;
}

nav .container{
    display: flex;
    align-items: center;
    height: inherit;
}

.nav-links{
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    width: 45%;
    margin-bottom: 0;
    transition: .5s ease;
}

.nav-links a{
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 30px;
    transition: .5s ease;
}

.logo h4{
    color: white;
    font-family: 'Allura', cursive;
    font-size: 55px;
    text-shadow: 5px 5px 10px #000000;
    margin-bottom: 0;
    transition: .5s ease;
}

#login{
    color: black;
    background-color: white;
    padding: 2px 20px 5px 20px;
    border-radius: 50px;
    border: 1px solid black;
}

#login:hover{
    color: white;
    background-color: #292b2c;
    border: 1px solid white;
    transition: .25s ease;
}

.scroll-active #login{
    color: black;
    background-color: white;
    padding: 1px 15px 4px 15px;
    border-radius: 50px;
    border: 1px solid black;
}

.scroll-active #login:hover{
    color: white;
    background-color: #292b2c;
    border: 1px solid white;
    transition: .25s ease;
}

.scroll-active:nth-child(1){
    background-color: black;
    height: 6vh;
}

.scroll-active .logo h4{
    font-size: 35px;
    transition: .5s ease;
}

.scroll-active .nav-links{
    width: 30%;
    transition: .5s ease;
}

.scroll-active .nav-links a{
    font-size: 20px;
}

.nav-links a:hover{
    color: cornflowerblue;
}

.nav-links .active{
    color: slategray;
}

.nav-links .active:hover{
    color: slategray;
}





.fixed-bottom .nav{
    background-color: white;
    height: inherit;
    display: none;
    transition: .5s ease;
}

.scroll-active:nth-child(2){
    box-shadow: 0 -3px 3rem rgba(0,0,0,.1);
}


.scroll-active .nav{
    transition: .5s ease;
    display: flex;
    height: 5vh;
}

.scroll-active .nav .nav-item{
    margin-left: 30px;
    margin-right: 30px;
}


h3{
   font-family: 'Open Sans Condensed', sans-serif;
}

h1{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 90px;
    letter-spacing: 2px;
    color: black;
}


#title{
    background: url(background_20.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

#title .card{
    position: absolute;
    /*height: 33.4%;
    width: 60%;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*background: linear-gradient(to bottom, black, #3b3c38);*/
    box-shadow: 8px 8px 10px #000000;
}

.card-footer{
    background-color: #f5f5f5;
    transition: .5s ease;
}



.card-footer a{
    color: black;
    transition: 0.5s ease;
}

.card-footer:hover {
    background-color: #464646;
    transition: 0.5s ease;
}

.card-footer:hover a{
    color: white;
    transition: 0.5s ease;
}






section .title{
    height: 80px;
    border-bottom-color: black;
    border-bottom: 5px solid black;
}

ul{
    list-style: none;
}

section{
    min-height: 100vh;
}

section .card-body{
    overflow: hidden;
}

section .card-body img{
    height: 25px;
    width: 25px;
    
}



section .card-img{
    height: 246px;
    object-fit: cover;
}

@media (max-width: 767px){
    section .card-img{
        display: none;
    }
}

section .card{
    transition: 0.3s;
}

section .card:hover{
    transform: scale(1.10);
}

.snipbit{
    margin: 0px;
    min-height: 42px;
}


a{
    color: black;
}

a:hover{
    color: black;
    text-decoration: none;
}
section:nth-child(even){
    background: #f5f5f5;
}
